@import "tailwindcss";
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@import "tailwindcss";

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
:root {
  --color-bg: oklch(100% 0 0);

  --color-base-1: #ffffff;
  --color-base-2: oklch(98.38% 0.003 267.08);
  --color-base-3: oklch(96.88% 0.003 267.08);
  --color-base-4: oklch(95.88% 0.003 267.08);
  --color-base-5: oklch(94.88% 0.003 267.08);
  --color-base-hover: oklch(92.38% 0.003 267.08);
  --color-base-active: oklch(94.88% 0.003 267.08);
  --color-base-disabled: oklch(96.38% 0.003 267.08);
  --color-base-selected: oklch(94.88% 0.003 267.08);
  --color-base-fg-1: oklch(16% 0.003 267.08);
  --color-base-fg-2: oklch(32% 0.003 267.08);
  --color-base-fg-3: oklch(45% 0.003 267.08);
  --color-base-fg-4: oklch(55% 0.003 267.08);
  --color-base-fg-5: oklch(65% 0.003 267.08);
  --color-base-fg-ghost: oklch(80% 0.003 267.08);
  --color-base-fg-disabled: oklch(80% 0.003 267.08);
  --color-base-border-1: oklch(82.38% 0.003 267.08);
  --color-base-border-2: oklch(88.38% 0.003 267.08);
  --color-base-border-3: oklch(94.38% 0.003 267.08);
  --color-base-border-hover: oklch(82.38% 0.003 267.08);
  --color-base-border-focus: oklch(75.38% 0.003 267.08);

  --color-primary-1: oklch(50.67% 0.2303 267.08);
  --color-primary-2: oklch(52.67% 0.2303 267.08);
  --color-primary-3: oklch(54.67% 0.2303 267.08);
  --color-primary-4: oklch(55.67% 0.2303 267.08);
  --color-primary-5: oklch(56.67% 0.2303 267.08);
  --color-primary-hover: oklch(48.67% 0.2303 267.08);
  --color-primary-active: oklch(42.67% 0.2303 267.08);
  --color-primary-border: oklch(42.67% 0.2303 267.08);
  --color-primary-fg-1: oklch(98% 0.0054 267.08);
  --color-primary-fg-2: oklch(96% 0.0054 267.08);
  --color-primary-fg-3: oklch(88% 0.0054 267.08);
  --color-primary-fg-4: oklch(83% 0.0054 267.08);
  --color-primary-fg-5: oklch(78% 0.0054 267.08);

  --color-negative-1: oklch(47.07% 0.1897 22.17);
  --color-negative-2: oklch(51.07% 0.1897 22.17);
  --color-negative-3: oklch(53.07% 0.1897 22.17);
  --color-negative-4: oklch(55.07% 0.1897 22.17);
  --color-negative-5: oklch(57.07% 0.1897 22.17);
  --color-negative-hover: oklch(43.07% 0.1897 22.17);
  --color-negative-active: oklch(41.07% 0.1897 22.17);
  --color-negative-border: oklch(43.07% 0.1897 22.17);
  --color-negative-fg-1: oklch(98% 0.0054 22.17);
  --color-negative-fg-2: oklch(97% 0.0054 22.17);
  --color-negative-fg-3: oklch(96% 0.0054 22.17);
  --color-negative-fg-4: oklch(95% 0.0054 22.17);
  --color-negative-fg-5: oklch(94% 0.0054 22.17);

  --color-positive-1: oklch(43.42% 0.1461 142.04);
  --color-positive-2: oklch(47.42% 0.1461 142.04);
  --color-positive-3: oklch(49.42% 0.1461 142.04);
  --color-positive-4: oklch(51.42% 0.1461 142.04);
  --color-positive-5: oklch(53.42% 0.1461 142.04);
  --color-positive-hover: oklch(39.42% 0.1461 142.04);
  --color-positive-active: oklch(37.42% 0.1461 142.04);
  --color-positive-border: oklch(38.42% 0.1461 142.04);
  --color-positive-fg-1: oklch(98% 0.0054 142.04);
  --color-positive-fg-2: oklch(93% 0.0054 142.04);
  --color-positive-fg-3: oklch(88% 0.0054 142.04);
  --color-positive-fg-4: oklch(83% 0.0054 142.04);
  --color-positive-fg-5: oklch(78% 0.0054 142.04);

  --color-info-1: oklch(45.27% 0.1498 255.17);
  --color-info-2: oklch(49.27% 0.1498 255.17);
  --color-info-3: oklch(51.27% 0.1498 255.17);
  --color-info-4: oklch(53.27% 0.1498 255.17);
  --color-info-5: oklch(55.27% 0.1498 255.17);
  --color-info-hover: oklch(41.27% 0.1498 255.17);
  --color-info-active: oklch(39.27% 0.1498 255.17);
  --color-info-border: oklch(38.27% 0.1498 255.17);
  --color-info-fg-1: oklch(98% 0.0054 255.17);
  --color-info-fg-2: oklch(93% 0.0054 255.17);
  --color-info-fg-3: oklch(88% 0.0054 255.17);
  --color-info-fg-4: oklch(83% 0.0054 255.17);
  --color-info-fg-5: oklch(78% 0.0054 255.17);

  --color-status-pending: oklch(49.99% 0.082 250.46);

  --color-status-ongoing: oklch(50.39% 0.16 255.19);
  --color-status-ongoing-border: oklch(41.27% 0.1498 255.17);

  --color-status-completed: oklch(48.51% 0.16 142.04);
  --color-status-completed-border: oklch(38.42% 0.1461 142.04);

  --color-status-canceled: oklch(52.44% 0.16 22.18);
  --color-status-canceled-border: oklch(43.07% 0.1897 22.17);

  --color-status-paused: oklch(51.07% 0.1103 70.49);

  --color-priority-none: oklch(67.06% 0.0157 150.61);
  --color-priority-low: oklch(65.36% 0.1739 151.43);
  --color-priority-medium: oklch(68.08% 0.1515 66.06);
  --color-priority-high: oklch(61.72% 0.1998 38.51);
  --color-priority-urgent: oklch(62.8% 0.2577 29.23);
}

.dark {
  --color-bg: oklch(0% 0 0);

  --color-base-1: oklch(16.69% 0.003 251.35);
  --color-base-2: oklch(18.69% 0.003 251.35);
  --color-base-25: oklch(20.39% 0.003 251.35);
  --color-base-3: oklch(22.39% 0.003 251.35);
  --color-base-4: oklch(24.39% 0.003 251.35);
  --color-base-5: oklch(26.39% 0.003 251.35);
  --color-base-hover: oklch(28.69% 0.003 251.35);
  --color-base-active: oklch(26.69% 0.003 251.35);
  --color-base-disabled: oklch(16.69% 0.003 251.35);
  --color-base-selected: oklch(26.69% 0.003 251.35);
  --color-base-fg-1: oklch(97.29% 0.003 251.35);
  --color-base-fg-2: oklch(87.29% 0.003 251.35);
  --color-base-fg-3: oklch(75.29% 0.003 251.35);
  --color-base-fg-4: oklch(65.29% 0.003 251.35);
  --color-base-fg-5: oklch(55.29% 0.003 251.35);
  --color-base-fg-ghost: oklch(50.29% 0.003 251.35);
  --color-base-fg-disabled: oklch(50.29% 0.003 251.35);
  --color-base-border-1: oklch(32.69% 0.003 251.35);
  --color-base-border-2: oklch(28.69% 0.003 251.35);
  --color-base-border-3: oklch(24.69% 0.003 251.35);
  --color-base-border-hover: oklch(32.69% 0.003 251.35);
  --color-base-border-focus: oklch(35.69% 0.003 251.35);

  --color-primary-1: oklch(68.36% 0.1886 251.35);
  --color-primary-2: oklch(64.45% 0.1886 251.35);
  --color-primary-3: oklch(62.45% 0.1886 251.35);
  --color-primary-4: oklch(60.45% 0.1886 251.35);
  --color-primary-5: oklch(58.45% 0.1886 251.35);
  --color-primary-hover: oklch(76.45% 0.1886 251.35);
  --color-primary-active: oklch(66.45% 0.1886 251.35);
  --color-primary-border: oklch(56.45% 0.1886 251.35);
  --color-primary-fg-1: oklch(16.08% 0.0054 251.35);
  --color-primary-fg-2: oklch(22.08% 0.0054 251.35);
  --color-primary-fg-3: oklch(24.08% 0.0054 251.35);
  --color-primary-fg-4: oklch(26.08% 0.0054 251.35);
  --color-primary-fg-5: oklch(28.08% 0.0054 251.35);

  --color-negative-1: oklch(69.38% 0.1961 23.92);
  --color-negative-2: oklch(62.38% 0.1961 23.92);
  --color-negative-3: oklch(60.38% 0.1961 23.92);
  --color-negative-4: oklch(58.38% 0.1961 23.92);
  --color-negative-5: oklch(56.38% 0.1961 23.92);
  --color-negative-hover: oklch(74.38% 0.1961 23.92);
  --color-negative-active: oklch(60.38% 0.1961 23.92);
  --color-negative-border: oklch(65.38% 0.1961 23.92);
  --color-negative-fg-1: oklch(16.08% 0.0054 23.92);
  --color-negative-fg-2: oklch(22.08% 0.0054 23.92);
  --color-negative-fg-3: oklch(24.08% 0.0054 23.92);
  --color-negative-fg-4: oklch(26.08% 0.0054 23.92);
  --color-negative-fg-5: oklch(28.08% 0.0054 23.92);

  --color-positive-1: oklch(64.71% 0.2178 142.04);
  --color-positive-2: oklch(57.71% 0.2178 142.04);
  --color-positive-3: oklch(55.71% 0.2178 142.04);
  --color-positive-4: oklch(53.71% 0.2178 142.04);
  --color-positive-5: oklch(51.71% 0.2178 142.04);
  --color-positive-hover: oklch(68.71% 0.2178 142.04);
  --color-positive-active: oklch(72.71% 0.2178 142.04);
  --color-positive-border: oklch(49.71% 0.2178 142.04);
  --color-positive-fg-1: oklch(16.08% 0.0054 142.04);
  --color-positive-fg-2: oklch(22.08% 0.0054 142.04);
  --color-positive-fg-3: oklch(24.08% 0.0054 142.04);
  --color-positive-fg-4: oklch(26.08% 0.0054 142.04);
  --color-positive-fg-5: oklch(28.08% 0.0054 142.04);

  --color-info-1: oklch(68.28% 0.1508 237.81);
  --color-info-2: oklch(64.28% 0.1508 237.81);
  --color-info-3: oklch(62.28% 0.1508 237.81);
  --color-info-4: oklch(60.28% 0.1508 237.81);
  --color-info-5: oklch(58.28% 0.1508 237.81);
  --color-info-hover: oklch(72.28% 0.1508 237.81);
  --color-info-active: oklch(76.28% 0.1508 237.81);
  --color-info-border: oklch(56.28% 0.1508 237.81);
  --color-info-fg-1: oklch(16.08% 0.0054 237.81);
  --color-info-fg-2: oklch(22.08% 0.0054 237.81);
  --color-info-fg-3: oklch(24.08% 0.0054 237.81);
  --color-info-fg-4: oklch(26.08% 0.0054 237.81);
  --color-info-fg-5: oklch(28.08% 0.0054 237.81);

  --color-status-pending: oklch(78.37% 0.05 251.35);

  --color-status-ongoing: oklch(78.64% 0.2 259.49);

  --color-status-completed: oklch(76.87% 0.2 142.29);

  --color-status-canceled: oklch(70.6% 0.2 22.39);

  --color-status-paused: oklch(68.81% 0.1485 70.49);

  --color-priority-none: oklch(65.35% 0.0157 150.62);
  --color-priority-low: oklch(65.15% 0.1525 151.3);
  --color-priority-medium: oklch(67.32% 0.132 66.07);
  --color-priority-high: oklch(60.39% 0.1955 38.51);
  --color-priority-urgent: oklch(56.1% 0.2301 29.24);
}
@theme inline {
  --color-bg: var(--color-bg);

  --color-base-1: #ffffff;
  --color-base-2: var(--color-base-2);
  --color-base-3: var(--color-base-3);
  --color-base-4: var(--color-base-4);
  --color-base-5: var(--color-base-5);
  --color-base-hover: var(--color-base-hover);
  --color-base-active: var(--color-base-active);
  --color-base-disabled: var(--color-base-disabled);
  --color-base-selected: var(--color-base-selected);
  --color-base-fg-1: var(--color-base-fg-1);
  --color-base-fg-2: var(--color-base-fg-2);
  --color-base-fg-3: var(--color-base-fg-3);
  --color-base-fg-4: var(--color-base-fg-4);
  --color-base-fg-5: var(--color-base-fg-5);
  --color-base-fg-ghost: var(--color-base-fg-ghost);
  --color-base-fg-disabled: var(--color-base-fg-disabled);
  --color-base-border-1: var(--color-base-border-1);
  --color-base-border-2: var(--color-base-border-2);
  --color-base-border-3: var(--color-base-border-3);
  --color-base-border-hover: var(--color-base-border-hover);
  --color-base-border-focus: var(--color-base-border-focus);

  --color-primary-1: var(--color-primary-1);
  --color-primary-2: var(--color-primary-2);
  --color-primary-3: var(--color-primary-3);
  --color-primary-4: var(--color-primary-4);
  --color-primary-5: var(--color-primary-5);
  --color-primary-hover: var(--color-primary-hover);
  --color-primary-active: var(--color-primary-active);
  --color-primary-border: var(--color-primary-border);
  --color-primary-fg-1: var(--color-primary-fg-1);
  --color-primary-fg-2: var(--color-primary-fg-2);
  --color-primary-fg-3: var(--color-primary-fg-3);
  --color-primary-fg-4: var(--color-primary-fg-4);
  --color-primary-fg-5: var(--color-primary-fg-5);

  --color-negative-1: var(--color-negative-1);
  --color-negative-2: var(--color-negative-2);
  --color-negative-3: var(--color-negative-3);
  --color-negative-4: var(--color-negative-4);
  --color-negative-5: var(--color-negative-5);
  --color-negative-hover: var(--color-negative-hover);
  --color-negative-active: var(--color-negative-active);
  --color-negative-border: var(--color-negative-border);
  --color-negative-fg-1: var(--color-negative-fg-1);
  --color-negative-fg-2: var(--color-negative-fg-2);
  --color-negative-fg-3: var(--color-negative-fg-3);
  --color-negative-fg-4: var(--color-negative-fg-4);
  --color-negative-fg-5: var(--color-negative-fg-5);

  --color-positive-1: var(--color-positive-1);
  --color-positive-2: var(--color-positive-2);
  --color-positive-3: var(--color-positive-3);
  --color-positive-4: var(--color-positive-4);
  --color-positive-5: var(--color-positive-5);
  --color-positive-hover: var(--color-positive-hover);
  --color-positive-active: var(--color-positive-active);
  --color-positive-border: var(--color-positive-border);
  --color-positive-fg-1: var(--color-positive-fg-1);
  --color-positive-fg-2: var(--color-positive-fg-2);
  --color-positive-fg-3: var(--color-positive-fg-3);
  --color-positive-fg-4: var(--color-positive-fg-4);
  --color-positive-fg-5: var(--color-positive-fg-5);

  --color-info-1: var(--color-info-1);
  --color-info-2: var(--color-info-2);
  --color-info-3: var(--color-info-3);
  --color-info-4: var(--color-info-4);
  --color-info-5: var(--color-info-5);
  --color-info-hover: var(--color-info-hover);
  --color-info-active: var(--color-info-active);
  --color-info-border: var(--color-info-border);
  --color-info-fg-1: var(--color-info-fg-1);
  --color-info-fg-2: var(--color-info-fg-2);
  --color-info-fg-3: var(--color-info-fg-3);
  --color-info-fg-4: var(--color-info-fg-4);
  --color-info-fg-5: var(--color-info-fg-5);

  --color-status-pending: var(--color-status-pending);

  --color-status-ongoing: var(--color-status-ongoing);
  --color-status-ongoing-border: var(--color-status-ongoing-border);

  --color-status-completed: var(--color-status-completed);
  --color-status-completed-border: var(--color-status-completed-border);

  --color-status-canceled: var(--color-status-canceled);
  --color-status-canceled-border: var(--color-status-canceled-border);

  --color-status-paused: var(--color-status-paused);

  --color-priority-none: var(--color-priority-none);
  --color-priority-low: var(--color-priority-low);
  --color-priority-medium: var(--color-priority-medium);
  --color-priority-high: var(--color-priority-high);
  --color-priority-urgent: var(--color-priority-urgent);
}

@layer base {
}
